body {
  margin: 0;
  padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.App {
  width: 100%;
  height: 100%;
}

.dark {
  background-color: #24282f
}

.dark-text {
  color: #24282f;
}

.dark-card {
  background-color: #3c3e44;
}

.light {
  background-color: #fff;
}

.light-text {
  color: #fff;
}

.light-card {
  background-color: #f5f5f5;
}

.main-button {
  width: 
}

.content {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.character-card {
  width: 25em;
	height: 10em;
	border-radius: 0.5em;
	margin-bottom: 2em;
	transition: 300ms all;
	--tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  display: flex;
	/* padding: 0.4em; */
	/* overflow: hidden; */
}

.character-card:hover {
	transition: 300ms all;
	transform: scale(1.08);
	cursor: pointer;
	--tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
		0 10px 10px -5px rgba(0, 0, 0, 0.04);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

  .character-image {
    width: 40%;
    height: 100%;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
  }

  .character-description {
    padding: 0.4em;
    width: 100%;
    /* background-color: red; */
  }
